.footer_block {
    /* border: 3px solid #f0f008; */
    position: absolute;
    top: 90%;
    height: 10%;
    width: 100%;
}

.central {
    /* border: 3px solid #f0f008; */
    position: absolute;
    top: 30px;
    left: 35px;
    height: auto;
    width: 225px;
    float: left;
}

.left_text {
    float: left;
    padding: 0px;
    font: 13px 'Trebuchet MS', sans-serif;
    margin: 7px 10px;
}

.icon {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 30px;
}

.right_text {
    float: left;
    padding: 0px;
    font: 20px 'Trebuchet MS', sans-serif;
    margin: 2px;
}