.header_block {
    /* border: 3px solid #f0f008; */
    position: absolute;
    height: 25%;
    width: 100%;
}

.header_text {
    /* border: 3px solid #f0f008; */
    position: absolute;
    top: 30%;
    left: 10px;
    width: 230px;
    float: left;
}

.bigger_text {
    font: 38px 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.smaller_text {
    font: 19px 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

.header_image {
    position: absolute;
    top: 24%;
    left: 240px;
    width: 50px;
    transform: rotate(12deg) skewY(-12deg);
}

.line {
    position: relative;
    margin-top: 55px;
    height: 0px;
    width: 100%;
    border-color: black;
    background-color: black;
}