.main_block {
    /* border: 3px solid #f0f008; */
    position: absolute;
    top: 25%;
    left: 0px;
    height: 65%;
    width: 100%;
    text-align: center;
}

.change_page {
    position: absolute;
    right: 0px;
    bottom: 0px;
}