.preview_block {
    /* border: 3px solid #f0f008; */
    height: 100%;
    width: 100%;
    text-align: center;
}

.preview_image {
    /* border: 3px solid #f0f008; */
    margin: 70px 0px;
}

.button_box {
    /* border: 3px solid #f0f008; */
    margin: 50px 0px;
}

.insert_button {
    font: 17px "Source Sans Pro";
    color: aliceblue;
    background-color: #008cea;
    border: none;
    padding: 18px 28px;
    border-radius: 6px;
}